.resume-wrapper {
    width: 100%;
    height: 100vh;
  
    background: url('./img/bg-img-resume.jpg') center/110% auto no-repeat;
}

.resume-color {
    width: 100%;
    height: 100vh;
    
    background-color: rgba(35, 35, 35, 0.5);
}

.resume-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 10vh;

    padding: 12vh 0 0;
}

.resume__item--flex {
    display: flex;
    flex-direction: column;
    width: 420px;
}