@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #fff;
    --theme-color: #1a92e2;
}

body {
    margin: 0;
    padding: 0;

    color: var(--main-color);

    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.5px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    /* max-width: 1600px; */
    height: auto;
    margin: 0 auto;
}
